@{
    ViewData["Title"] = "Dieta Fácil";
}


<a class="btn alert" asp-controller="MinhaDieta" asp-action="Index">Minha Dieta</a>
<a class="btn alert" asp-controller="MeusAlimentos" asp-action="Index">Meus Alimentos</a>